<div class="sidebar bg-light">

  <div class="p-2 border">
    <div class="d-flex item-align-center justify-content-between">
      <p>Clients</p>
      <i class="bi bi-plus-circle"></i>
    </div>
    <div class="w-100">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </div>

  <ul class="nav d-flex border item-align-center justify-content-center justify-content-between">
    <li class="nav-item">
      <a class="nav-link" routerLink="../form" routerLinkActive="active">Link</a>
    </li>
    <i class="bi bi-plus-circle"></i>
  </ul>
</div>
