<div class="sidebar bg-light border border-dark">

  <div class="border-bottom border-dark p-2">
    <div class="d-flex item-align-center justify-content-center justify-content-between">
      <span>Clients</span>
      <i class="bi bi-plus-circle fs-5"></i>
    </div>
    <div class="w-100">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </div>

  <ul class="nav p-2 d-flex border item-align-center justify-content-center justify-content-between"
      *ngFor="let company of companyList">
    <span class="rounded-circle border border-dark logo">{{ company.name | slice:0:2 | uppercase }}</span>
    <span routerLink="form">{{ company.name }}</span>
    <span><i class="bi bi-plus-circle fs-5"></i></span>
  </ul>
</div>
