<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href=""><i class="bi bi-bootstrap-reboot">Renew</i></a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">
            <i class="bi bi-house-door"></i> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product" routerLinkActive="active">
            <i class="bi bi-grid"></i> Products </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
            <i class="bi bi-motherboard-fill"></i> Dashboard </a>
        </li>
      </ul>
      <div class="text-end d-flex">
        <button type="button" class="btn btn-sm btn-outline-primary me-2" routerLink="/login">Login</button>
        <button type="button" class="btn btn-sm btn-outline-info">Sign-up</button>
      </div>
    </div>
  </div>
</nav>
