.set {
  left: 6px;
}

.pointer {
  cursor: pointer;
}
.curPosition{
  padding: 0;
  margin: 0;
  margin-top: 13px;
  color: slategray;
}

.example-list {
  width: 150px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  // text-align: center;
  padding: 10px;
  margin-top: 16px;
}

.example-list > li {
  list-style-type: none;
  padding: 8px 0;
}

.example-list > li:last-child {
  border-bottom: none;
}
.profileDropdownOverlay{
  background-color: none;

}
.profile-wrapper{
  align-items: center;

  a{
    text-decoration: none;
    margin: 0 2px;
    color: #0000008c;

  }
    &:hover{
      a{
        color: #000000b3;
      }
    }
}
