<p>add product details!</p>
<div>
  <form>

    <div class="row">
      <div class="col">

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="flexRadioVehicle" id="bike">
          <label class="form-check-label" for="bike"> Bike </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="flexRadioVehicle" id="car" checked>
          <label class="form-check-label" for="car"> Car </label>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col">

        <label for="inputCompany" class="form-label">Company</label>
        <select id="inputCompany" class="form-select">
          <option selected disabled>Choose...</option>
          <option>TVS</option>
          <option>Honda</option>
          <option>Royal Enfield</option>
          <option>Hero</option>
          <option>Bajaj</option>
          <option>Yamaha</option>
          <option>Suzuki</option>
          <option>Jawa</option>
          <option>KTM</option>
          <option>Yezdi</option>
        </select>

      </div>
    </div>

  </form>
</div>
