<!-- Footer -->
<footer class="p-3 text-bg-dark ">
  <div class="container-fluid">
    <!-- Copyright -->
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        &copy; 2022 Company, Inc
      </div>
      <div class="text-end">
        <ul class="d-flex nav list-unstyled">
          <li class="ms-3"><a class="text-muted bi bi-facebook" href="#"></a></li>
          <li class="ms-3"><a class="text-muted bi bi-github" href="#"></a></li>
          <li class="ms-3"><a class="text-muted bi bi-google" href="#"></a></li>
          <li class="ms-3"><a class="text-muted bi bi-instagram" href="#"></a></li>
          <li class="ms-3"><a class="text-muted bi bi-linkedin" href="#"></a></li>
          <li class="ms-3"><a class="text-muted bi bi-telegram" href="#"></a></li>
          <li class="ms-3"><a class="text-muted bi bi-twitter" href="#"></a></li>
        </ul>
      </div>
    </div>


    <!-- Copyright -->
  </div>
</footer>
<!-- Footer -->
