<div class="container-fluid d-flex flex-column align-items-center justify-content-center h-100">
  <div class="card p-3 shadow-sm" style="width: 350px;">
    <h3 class="card-title text-center">Login</h3>
    <div class="card-body">
      <form>
        <div class="my-2">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Input Email">
        </div>
        <div class="my-2">
          <label for="inputPassword" class="form-label">password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Input Password">
        </div>
        <div class="mt-4 text-center">
          <button type="submit" class="btn btn-sm btn-outline-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
