<div class="d-flex">

  <div class="card shadow" style="width: 350px;">
    <div class="card-body">
      <div class="text-center">
        <h4>Signup Here</h4>
      </div>
      <div class="card-text">

        <form>
          <div class="my-3">
            <label for="userName" class="form-label">Name</label>
            <input type="text" class="form-control" id="userName" placeholder="Enter Name" />
          </div>
          <div class="my-3">
            <label for="userEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="userEmail" placeholder="Enter Email" />
          </div>
          <div class="my-3">
            <label for="userPassword" class="form-label">Password</label> <span class="float-end"><a class="bi bi-{{eyeIcon}} text-muted" (click)="iconChage()"></a></span>
            <input type="{{inputType}}" class="form-control" id="userPassword" placeholder="Enter Password" />
          </div>
          <div class="my-5">
            <button type="submit" class="btn btn-outline-info w-100">Create Account</button>
          </div>
          <div class="text-center">
            <small><a class="text-muted" routerLink="../login"> Already have an account </a></small>
          </div>
        </form>

      </div>
    </div>
  </div>

</div>
