<div class="container-fluid m-2">
  <!-- Menu -->
  <div class="text-center m-2">
    <h3><a class="cur-point">Studio</a> <span class="mx-2">/</span> <a class="cur-point">Artist</a></h3>
  </div>
  <!-- Filter By Menu -->
  <div class="d-flex justify-content-center">
    <span class="mx-2">Filter By: </span>
    <div>
      <select name="" id="" class="mx-2">
        <option value="">--Studio Type--</option>
      </select>
      <select name="" id="" class="mx-2">
        <option value="">--City--</option>
      </select>
      <select name="" id="" class="mx-2">
        <option value="">--State--</option>
      </select>
    </div>
  </div>
  <!-- Cards -->
  <div class="container-fluid my-3 d-flex">

    <div class="card shadow-sm" style="width: 250px;" aria-hidden="true">
      <div class="card-body">
        <!-- Image -->
        <div class="card-img" style="width: 220px; height: 180px;">
          <img src="../../../../assets/pic/images.webp" alt="" class="w-100 h-100">
        </div>
        <!-- Info -->
        <p class="card-text placeholder-glow my-3">
          <span class="placeholder col-7"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-6"></span>
          <span class="placeholder col-8"></span>
        </p>
        <!-- Button -->
        <div>

        </div>
      </div>
    </div>
    <!-- Carousel -->
    <div id="carouselExampleControls" class="carousel carousel-dark slide ms-4" data-bs-touch="false"
      style="height: 400px; width: 800px;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>

</div>
