$main-body-bg-color: #ddd; 
$primary-color: #095260;
$white-color: #fff;
$body-bg-color: #e1e1e1;
$secondary1-color: #9c61f5;
$secondary2-color: #f67887;
$card-bg-color: #8bc34a;
$searchbox-bg-color: #f0f0f0;
$border-radius-10: 10px;
$txt-mute-color: lightgrey; 
$positive-bg-color: #94ac41;
$positive-txt-color:#2b6405;



*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
    background-color: $main-body-bg-color;
}
img {
    height: 100%;
    width: 100%;
}
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.f-justify {
    justify-content: center;
}
.f-grow {
    flex-grow: 1;
}
.space-between {
    justify-content: space-between;
}
.d-column {
    flex-direction: column;
}
.d-none {
    display: none;
}
li {
    list-style: none;
}
.txt-muted {
    color: $txt-mute-color;
}




$theme-positive:(
    "primary":$primary-color,
    "secondary":$secondary1-color,
    "success":$positive-txt-color,
);

@mixin content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@for $value from 1 to 4 {
    .card-#{$value}{
        // background-color: $card-bg-color;
        height: 80px;
        width: 120px;
        border-radius: 5px;
    @include content-center();
        p {
            margin-bottom: 15px;
        }
        .card-icon {
            margin-left: 20px;
            height: 40px;
            width: 40px;
            // background-color: $positive-bg-color;
            // color: $positive-txt-color;
            padding: 8px;
        }
    }
}

@each $color, $value in $theme-positive {
    .bg-#{$color}{
        background-color: #{$value};
    }
    
}