/* Universal Selectors */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Global Selctors */
body,
html {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
}

/* Helper Classes */
.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-direction-cl {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.primary-color {
    color: #438ffe;
}

.primary-bg-clr {
    color: #438ffe;
}

.unset {
    all: unset;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
/* Header */
#head {
    padding: 20px;
    height: 100px;
    background-color: white;
}

.menu {
    font-size: 25px;
    padding: 10px;
}

.search {
    background-color: #f5f7f9;
}

.search .icon {
    margin: 3px;
}

.btn {
    background-color: #438ffe;
    color: white;
    padding: 10px 10px;
}

div .right-notification {
    margin-right: 20px;
    position: relative;
    font-size: 25px;
    padding: 3px;
}

.right-notification::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #438ffe;
}

img {
    height: 50px;
    width: 50px;
}

/* Main */
.menu label span { 
    cursor: pointer;
}

.s-main { 
    flex-direction: column;
    height: 100%;
}
#main { 
    height: 100%;
    padding-top: 5px;
    /* position: relative; */
}
/* CheckBox Part */
#menu {
    display: none;
}
aside {
    transform: translateX(0);
    transition: all 0.5s linear;
}
#menu:checked + aside {
    transform: translateX(-250px);
    width: 0;
}
#menu:checked + aside ul {
    transform: translateX(-350px);
    /* width: 0; */

}
/* Main Left */
.side-bar { 
    /* position: absolute; */
    height: 100%;
    background-color: white;
    width: 300px;
    font-size: 25px;
    flex-direction: column;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* overflow: visible; */
}
.side-bar ul li {
    list-style: none;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
aside>div{
    width: 100%;
}
aside ul { 
    width: 100%;
    transition: all 0.5s linear;
}
ul li span {
    cursor: pointer;
}
aside li{
    width: 100%;
}
.list { 
     width: 100%; 
}
.list a { 
    margin: 10px; 
}
.list span {
    width: 30px;
}
.list label span{ 
    margin: 10px;
    cursor: pointer;
}
/* Main Right */
.right { 
    margin: 20px;
    width: 100%;
    height: 100%;
}
.right h1{
    font-size: xx-large;
    padding: 5px;
    font-style: normal;
}
/* Card Part */
.wrap {
    width: 100%;
}
.card-part {
    width: 100%;
    flex-wrap: wrap;
}
.card { 
    /* max-width: 30%; */
    width: 250px;
    height: 250px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    /* background-color: #438ffe; */
    background-color: white;
    position: relative;   
}
.card::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 90%;
    background-color: grey;
    top: 80%;
    left: 20px;

}
.card-icon {
    margin: 10px;
    padding: 10px;
    background-color:  #559afe;
    height: 40px;
    width: 40px;
}
.fa-eye {
    color: white;
}
.fa-shopping-bag {
    color: limegreen;
}
.fa-users {
    color: lightskyblue;
}
.fa-shopping-cart {
    color:  greenyellow;
}
.card h4 {
    margin: 10px;
    margin-top: 15px;
    font-weight: normal;
}
.card-digit {
    margin: 10px;
    margin-top: 10px;
    font-size: 30px;
}
.card small{
    position: absolute;
    bottom: 20px;
}

/* Data Part */

.product { 
    background-color: white;
    padding: 20px;
}
.data-head { 
    padding: 10px 10px 10px 10px;
    font-weight: 900;
    text-align: left;
}
.data-head tr {
    padding: 10px 0 10px 10px;
}
.data-no {
    padding-right: 20px;
}
.widt-no {
    width: 100px;
}
.widt-name {
    width: 250px;
}
.widt-cmn {
    width: 120px;
}
.data-row tr { 
    padding: 10px;
    background-color: #f5f7f9;
    font-weight: 500;
    margin-bottom: 20px;
}

.product-img {
    height: 40px;
    width: 40px;
    overflow: hidden;
}
.product-img img {
    height: auto;
    max-width: 1000%;
}


/* media Part */
/* Extra large devices (large laptops and desktops, 1200px and up) */
 
  
/* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 992px) {
    .card {
        width: 33.33%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .card {
        width: 50%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card { 
        /* position: relative; */
        width: 100%;
    } 

}  
  