<div class="container">

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-brand-tab" data-bs-toggle="tab" data-bs-target="#nav-brand" type="button"
        role="tab" aria-controls="nav-brand" aria-selected="true">Brand</button>

      <button class="nav-link" id="nav-budget-tab" data-bs-toggle="tab" data-bs-target="#nav-budget" type="button"
        role="tab" aria-controls="nav-budget" aria-selected="false">Budget</button>

      <button class="nav-link" id="nav-displacement-tab" data-bs-toggle="tab" data-bs-target="#nav-displacement"
        type="button" role="tab" aria-controls="nav-displacement" aria-selected="false">Displacement</button>

      <button class="nav-link" id="nav-bodystyle-tab" data-bs-toggle="tab" data-bs-target="#nav-bodystyle" type="button"
        role="tab" aria-controls="nav-bodystyle" aria-selected="false">Bodystyle</button>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <!-- Brand-view -->
    <div class="tab-pane fade show active" id="nav-brand" role="tabpanel" aria-labelledby="nav-brand-tab" tabindex="0">
      <!-- Row-1 Start -->
      <div class="row my-2">
        <!-- Col-1 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img
                src="https://imgd.aeplcdn.com/0X0/n/cw/ec/10/brands/logos/maruti-suzuki1647009823420.jpg"
                alt="Maruti Suzuki" title="Maruti Suzuki">
              <span class="card-title">Maruti Suzuki</span>
            </div>
          </div>
        </div>
        <!-- Col-2 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/0X0/n/cw/ec/8/brands/logos/hyundai.jpg"
                alt="Hyundai" title="Hyundai">
              <span class="card-title">Hyundai</span>
            </div>
          </div>
        </div>
        <!-- Col-3 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/0X0/n/cw/ec/16/brands/logos/tata.jpg" alt="Tata" title="Tata">
              <span class="card-title">Tata</span>
            </div>
          </div>
        </div>
        <!-- Col-4 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/0X0/n/cw/ec/9/brands/logos/mahindra.jpg" alt="Mahindra" title="Mahindra">
              <span class="card-title">Mahindra</span>
            </div>
          </div>
        </div>
        <!-- Col-5 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/0X0/n/cw/ec/70/brands/logos/kia.jpg" alt="Kia" title="Kia">
              <span class="card-title">Kia</span>
            </div>
          </div>
        </div>
        <!-- Row-1 Finish -->
      </div>

      <!-- Row-2 Start -->
      <div class="row my-2">
        <!-- Col-1 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/0X0/n/cw/ec/17/brands/logos/toyota.jpg" alt="Toyota" title="Toyota">
              <span class="card-title">Toyota</span>
            </div>
          </div>
        </div>
        <!-- Col-2 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/0X0/n/cw/ec/7/brands/logos/honda.jpg" alt="Honda" title="Honda">
              <span class="card-title">Honda</span>
            </div>
          </div>
        </div>
        <!-- Col-3 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/0X0/n/cw/ec/20/brands/logos/volkswagen.jpg" alt="Volkswagen" title="Volkswagen">
              <span class="card-title">Volkswagen</span>
            </div>
          </div>
        </div>
        <!-- Col-4 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/0X0/n/cw/ec/15/brands/logos/skoda.jpg" alt="Skoda" title="Skoda">
              <span class="card-title">Skoda</span>
            </div>
          </div>
        </div>
        <!-- Col-5 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/0X0/n/cw/ec/72/brands/logos/mg.jpg" alt="MG" title="MG">
              <span class="card-title">MG</span>
            </div>
          </div>
        </div>
        <!-- Row-2 Finish -->
      </div>

      <!-- Brand-view Finish -->
    </div>

    <!-- Budget-view Start -->
    <div class="tab-pane fade" id="nav-budget" role="tabpanel" aria-labelledby="nav-budget-tab" tabindex="0">
      Budget
    </div>
    <!-- Budget-view Finish -->

    <!-- Displacement-view Start -->
    <div class="tab-pane fade" id="nav-displacement" role="tabpanel" aria-labelledby="nav-displacement-tab"
      tabindex="0">
      Displacement
    </div>
    <!-- Displacement-view Finish -->

    <!-- BodyStyle-view Start -->
    <div class="tab-pane fade" id="nav-bodystyle" role="tabpanel" aria-labelledby="nav-bodystyle-tab" tabindex="0">
      Bodystyle
    </div>
    <!-- BodyStyle-view Finish -->

  </div>

</div>
