<div class="container">

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-brand-tab" data-bs-toggle="tab" data-bs-target="#nav-brand" type="button"
        role="tab" aria-controls="nav-brand" aria-selected="true">Brand</button>

      <button class="nav-link" id="nav-budget-tab" data-bs-toggle="tab" data-bs-target="#nav-budget" type="button"
        role="tab" aria-controls="nav-budget" aria-selected="false">Budget</button>

      <button class="nav-link" id="nav-displacement-tab" data-bs-toggle="tab" data-bs-target="#nav-displacement"
        type="button" role="tab" aria-controls="nav-displacement" aria-selected="false">Displacement</button>

      <button class="nav-link" id="nav-bodystyle-tab" data-bs-toggle="tab" data-bs-target="#nav-bodystyle" type="button"
        role="tab" aria-controls="nav-bodystyle" aria-selected="false">Bodystyle</button>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <!-- Brand-view -->
    <div class="tab-pane fade show active" id="nav-brand" role="tabpanel" aria-labelledby="nav-brand-tab" tabindex="0">
      <!-- Row-1 Start -->
      <div class="row my-2">
        <!-- Col-1 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body cursor-pointer text-center" routerLink="../view">
              <img src="https://imgd.aeplcdn.com/110x61/bw/makes/tvs20200508193203.jpg" alt="TVS bikes">
              <span class="card-title">TVS</span>
            </div>
          </div>
        </div>
        <!-- Col-2 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/110x61/bw/makes/honda20200511152343.jpg" alt="Honda bikes">
              <span class="card-title">Honda</span>
            </div>
          </div>
        </div>
        <!-- Col-3 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/110x61/bw/makes/royal-enfield20200508193112.jpg" alt="Royal Enfield bikes">
              <span class="card-title">Royal Enfield</span>
            </div>
          </div>
        </div>
        <!-- Col-4 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/110x61/bw/makes/hero20200508192826.jpg" alt="Hero bikes">
              <span class="card-title">Hero</span>
            </div>
          </div>
        </div>
        <!-- Col-5 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/110x61/bw/makes/bajaj20200508192534.jpg" alt="Bajaj bikes">
              <span class="card-title">Bajaj</span>
            </div>
          </div>
        </div>
        <!-- Row-1 Finish -->
      </div>

      <!-- Row-2 Start -->
      <div class="row my-2">
        <!-- Col-1 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/110x61/bw/makes/yamaha20200508193220.jpg" alt="Yamaha bikes">
              <span class="card-title">Yamaha</span>
            </div>
          </div>
        </div>
        <!-- Col-2 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/110x61/bw/makes/suzuki20200508193118.jpg" alt="Suzuki bikes">
              <span class="card-title">Suzuki</span>
            </div>
          </div>
        </div>
        <!-- Col-3 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/110x61/bw/makes/jawa20200508192940.jpg" alt="Jawa bikes">
              <span class="card-title">Jawa</span>
            </div>
          </div>
        </div>
        <!-- Col-4 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/110x61/bw/makes/ktm20200518163508.jpg" alt="KTM bikes">
              <span class="card-title">KTM</span>
            </div>
          </div>
        </div>
        <!-- Col-5 -->
        <div class="col">
          <div class="card" style="width: 150px;">
            <div class="card-body text-center">
              <img src="https://imgd.aeplcdn.com/110x61/n/cw/ec/107/brands/logos/yezdi.jpg?v=1642764859699" alt="Yezdi bikes">
              <span class="card-title">Yezdi</span>
            </div>
          </div>
        </div>
        <!-- Row-2 Finish -->
      </div>

      <!-- Brand-view Finish -->
    </div>

    <!-- Budget-view Start -->
    <div class="tab-pane fade" id="nav-budget" role="tabpanel" aria-labelledby="nav-budget-tab" tabindex="0">
      Budget
    </div>
    <!-- Budget-view Finish -->

    <!-- Displacement-view Start -->
    <div class="tab-pane fade" id="nav-displacement" role="tabpanel" aria-labelledby="nav-displacement-tab"
      tabindex="0">
      Displacement
    </div>
    <!-- Displacement-view Finish -->

    <!-- BodyStyle-view Start -->
    <div class="tab-pane fade" id="nav-bodystyle" role="tabpanel" aria-labelledby="nav-bodystyle-tab" tabindex="0">
      Bodystyle
    </div>
    <!-- BodyStyle-view Finish -->

  </div>

</div>
