<div class="d-flex h-100">
  <div class="p-4 bg-light sidebar">
    <nav class="nav flex-column">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ngstyle">ngStyle</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="user-list">User-List</a>
        </li> -->
      </ul>
      <!-- <button class="btn btn-sm btn-outline-dark my-2" routerLink="home">Home</button> <br>
    <button class="btn btn-sm btn-outline-dark" routerLink="ngstyle">ngStyle</button> -->

      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> User </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="user-list">List</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" routerLink="update">Add with Templete</a></li>
          <li><a class="dropdown-item" routerLink="user-add">Add with Reactive</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="p-4 flex-grow-1">
    <app-home></app-home>
  </div>
</div>
