<div class="d-flex h-100">
  <div class="p-4 bg-light sidebar">
    <button class="btn btn-sm btn-outline-dark my-2" routerLink="home">Home</button> <br>
    <button class="btn btn-sm btn-outline-dark" routerLink="ngstyle">ngStyle</button>

    <!-- <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div> -->

  </div>
  <div class="p-4 flex-grow-1">
    <app-home></app-home>
  </div>
</div>
