/* ----------Universal---------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    transition: all .3s ease;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-background);
    color: var(--color-dark);
}
:root {
    --color-white: #ffffff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --color-hover: #56be68;
    --color-bg-hover: #f2fcf4;

    --color-search: #89c292;
    --color-search-text: #363949;
    --border-radius-1: 10px;
    --dis-text-color: #d86467;
    --dis-bg-color: #ffeeed;
    --wnt-text-color: #13a331;
    --wnt-bg-color: #f3fef3;
    --waiting-text-color: #db983f;
    --waiting-bg-color: #fff7e3;
    --cancle-text-color: #050812;
    --cancle-bg-color: #f6f6f6;
}
.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --dis-text-color: #edeffd;
    --dis-bg-color: #202528;
    --wnt-text-color: #edeffd;
    --wnt-bg-color: #202528;
    --cancle-text-color: #edeffd;
    --cancle-bg-color: #202528;
    --waiting-text-color: #edeffd;
    --waiting-bg-color: #202528;
    --color-hover: #edeffd;
    --color-bg-hover: #202528;
    --color-search: #202528;
    --color-search-text: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, .4);
}
/* ----------Helper---------- */
.d-flex {
    display: flex;
}
.align-item {
    align-items: center;
}
.flex-justify {
    justify-content: center;
}
.flex-column {
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
}
.flex-grow {
    flex-grow: 1;
}
img {
    /* display: block; */
    height: 100%;
    width: 100%;
}
.text-muted {
    color: var(--color-info-dark);
}
.d-none {
    display: none;
}
.unset{
    all: unset;
}
.discard {
    color: var(--dis-text-color);
    background-color: var(--dis-bg-color);
}
.want {
    color: var(--wnt-text-color);
    background-color: var(--wnt-bg-color);
}
.waiting {
    color: var(--waiting-text-color);
    background-color: var(--waiting-bg-color);
}
.cancle {
    color: var(--cancle-text-color);
    background-color: var(--cancle-bg-color);
}
/* ----------Whole Body---------- */
.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* ----------Header---------- */
.header { 
    padding: 20px;
    background-color: var(--color-white);
}
/* .left-header { border: 1px solid red; } */
.left-header h1 {
    font-weight: 500;
    margin-left: 8px;
}
.left-header h2 {
    font-weight: 400;
    margin-left: 40px;
}
/* .right-header { border: 1px solid red; } */
.right-header img {
    height: 32px;
    width: 32px;
}
.userInfo span {
    margin-left: 8px;
}
/*----------Toggle Theme----------*/
.header .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 45px;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}
.header .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .theme-toggler span.active {
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-1);
}
/*----------Toggle Theme----------*/
/* ----------Main---------- */
.main { 
    height: 100%;
    width: 100%;
    flex-grow: 1;
}
/* ----------Navigation---------- */
#toggle:checked + .main_nav {
   transform: translateX(-300px);
   width: 0;
}
.main_nav { 
    background-color: var(--color-white);
    width: 170px;
    margin-top: 2px;
    padding: 10px 0 10px 5px;
    transition: all 300ms ease;
}
.bottom-nav {
    margin-top: 20px;
}
.top-nav ul, .bottom-nav ul{
    width: 100%;
}
.top-nav ul li, .bottom-nav ul li { 
    width: 100%;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: all 300ms ease;
}
.top-nav ul li:hover, .bottom-nav ul li:hover {
    padding-left: 20px;
    background-color: var(--color-bg-hover);
    color: var(--color-hover);
    border-left: 2px solid var(--color-hover);
}
/* ----------Main Body---------- */
.main-body { 
    margin: 20px;
    width: 100%;
}
/* ----------Search Box---------- */
.search-box { 
    border: 1px solid var(--color-search);
    float: right;
    background-color: var(--color-search);
    border-radius: 5px;
}
.search-box input { 
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.search-box button {
    padding: 5px;
    background-color: var(--color-search);
    border: none;
    border-radius: 5px;
    color: var(--color-search-text);
}
.search-box:hover, .search-box:hover button {
    background-color: var(--color-hover);
}
/* ----------Table Area---------- */
.table-area {
    width: auto;
    margin-top: 20px;
}
.table {
    margin-top: 10px;
    width: 99%;
    border-spacing: 0px 5px;
}
.tbl-head tr th {
    font-weight: 500;
    background-color: var(--color-white);
}
.tbl-body {
    background-color: var(--color-white);
    text-align: center;
    overflow: scroll;
}
th, td{
    padding: 5px;
}
#err-msg { 
    color: var(--dis-text-color);
}