<div class="w-50 mb-3">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Enter UserId">
    <label for="floatingInput">User Id</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Enter UserName">
    <label for="floatingInput">User Name</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Enter UserSName">
    <label for="floatingInput">User SName</label>
  </div>
  <div>
      <button class="btn btn-success btn-sm me-3">Submit</button>
      <button class="btn btn-warning btn-sm">Reset</button>
  </div>

</div>
