<div class="w-50 mb-3">
  <form autocomplete="off" [formGroup]="dataAdd">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" formControlName="uid"/>
      <label for="floatingInput">User Id</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control"id="floatingInput" formControlName="uname"/>
      <label for="floatingInput">User Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control"id="floatingInput" formControlName="sname"/>
      <label for="floatingInput">User SName</label>
    </div>
    <div>
      <button type="submit" class="btn btn-success btn-sm me-3" (click)="onClicked($event)">Submit</button>
      <button class="btn btn-warning btn-sm">Reset</button>
    </div>
  </form>
</div>
