<p>parent works!</p>
<div class="container">
    <h3 class="text-center mb-3">Users List</h3>
    <!-- Add List -->
    <app-adduser (userAdd)="addUser($event)"></app-adduser>
    <div *ngIf="this.userList.length===0;"> No Users To Display </div>
    <ng-template #elseBlock>
        <div *ngFor="let user of userList; index as i">
            <app-child [userList]="user" [i]="i" (userDelete)="deleteUser($event)" (userCheckbox)="toggleUser($event)"></app-child>
        </div>
    </ng-template>
</div>




<!-- Size Change on Button Click -->
<!-- <div>
    <button class="btn btn-outline-dark btn-sm" (click)="size = size + 5">+</button>
    <button class="btn btn-outline-dark btn-sm" (click)="size = size - 5">-</button>
    <p [ngStyle] = "{'font-size': size + 'px'}">Hello</p>
</div> -->