<div class="w-100">

  <div class="bg-light px-3">
    <header class="w-100 d-flex align-items-center justify-content-between">
      <div class="">
        <h4>TVS Bike Price in India</h4>
      </div>
      <div class="">
        <form class="d-flex align-items-center">
          <label for="inputState" class="text-muted">Sort by:</label>
          <select id="inputState" class="form-select">
            <option selected disabled>Choose...</option>
            <option>Price: Low to High</option>
            <option>Price: Hign to Low</option>
          </select>
        </form>
      </div>
    </header>
  </div>

  <div class="row mt-2 p-2">
    <!-- card-1 -->
    <div class="col g-2 ">
      <div class="card shadow " style="width: 288px;">
        <img src="https://imgd.aeplcdn.com/310x174/bw/models/tvs-xl100-comfort-kick-start20201228120501.jpg"
          title="TVS XL100 Comfort" alt="XL100 Comfort" class="card-img-top">
        <div class="card-body ">
          <h5 class="card-title">TVS XL100 Comfort</h5>
          <p class="card-text text-muted">99.7 cc, 51.5 kmpl, 4.3 bhp, 86 kg</p>
          <small class="card-text">Avg. Ex-showroom price</small>
          <h4 class="card-text">&#8377; 45,026 onwards</h4>
          <div class="text-center">
            <a href="#" class="btn btn-outline-primary">View All Specs</a>
          </div>
        </div>
      </div>
    </div>
    <!-- card-2 -->
    <div class="col g-2">
      <div class="card shadow" style="width: 288px;">
        <img src="https://imgd.aeplcdn.com/310x174/bw/models/tvs-xl100-heavy-duty-kick-start20201228123645.jpg"
          title="TVS XL100 Heavy Duty" alt="XL100 Heavy Duty" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">TVS XL100 Heavy Duty</h5>
          <p class="card-text text-muted">99.7 cc, 55 kmpl, 4.3 bhp, 88 kg</p>
          <small class="card-text">Avg. Ex-showroom price</small>
          <h4 class="card-text">&#8377; 47,237 onwards</h4>
          <div class="text-center">
            <a href="#" class="btn btn-outline-primary">View All Specs</a>
          </div>
        </div>
      </div>
    </div>
    <!-- card-3 -->
    <div class="col g-2">
      <div class="card shadow" style="width: 288px;">
        <img src="https://imgd.aeplcdn.com/310x174/n/cw/ec/49446/tvs-sport-side5.jpeg" title="TVS Sport"
          alt="Sport" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">TVS Sport</h5>
          <p class="card-text text-muted">109.7 cc, 70 kmpl, 8.18 bhp, 110 kg</p>
          <small class="card-text">Avg. Ex-showroom price</small>
          <h4 class="card-text">&#8377; 62,649 onwards</h4>
          <div class="text-center">
            <a href="#" class="btn btn-outline-primary">View All Specs</a>
          </div>
        </div>
      </div>
    </div>
    <!-- card-4 -->
    <div class="col g-2">
      <div class="card shadow" style="width: 288px;">
        <img src="https://imgd.aeplcdn.com/310x174/n/cw/ec/114531/scooty-right-front-three-quarter.jpeg"
          title="TVS Scooty Pep Plus" alt="Scooty Pep Plus" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">TVS Scooty Pep Plus</h5>
          <p class="card-text text-muted">87.8 cc, 50 kmpl, 5.36 bhp, 93 kg</p>
          <small class="card-text">Avg. Ex-showroom price</small>
          <h4 class="card-text">&#8377; 64,090 onwards</h4>
          <div class="text-center">
            <a href="#" class="btn btn-outline-primary">View All Specs</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Row End -->

</div>
