<div class="container-fluid w-25">
  <div class="card">
    <form class="form-group" #userForm = 'ngForm' (ngSubmit)="userUpdate(userForm)">
      <div class="card-body my-2">
        <!-- User Name input -->
        <div class="form-outline my-2">
          <label class="form-label" for="form2Example1">User Name</label>
          <input type="text" id="form2Example1" class="form-control" [(ngModel)]="formData.name" name="name" #firstname="ngModel"  required/>
          <small class="text-danger"  *ngIf="!firstname.valid && (firstname.dirty || firstname.touched)">This Field is required</small>
        </div>

        <!-- User City input -->
        <div class="form-outline my-2">
          <label class="form-label" for="form2Example2">City</label>
          <input type="text" id="form2Example2" class="form-control" [(ngModel)]="formData.city" name="city" #city="ngModel" required/>
          <small class="text-danger"  *ngIf="city.invalid && (city.dirty || city.touched)">This Field is required</small>
        </div>
      </div>
      <!-- 2 column grid layout for inline styling -->
      <div class="card-footer">
        <div class="col d-flex justify-content-center mt-3">
          <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="!userForm.form.valid"  routerLink="../user-list" (click)="addUser()">Update</button>
        </div>
      </div>
      <!-- {{formData | json }} -->
    </form>
  </div>
</div>
